@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
  @include open-sans;
  
  background: $base-bg;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { 
  color: $link-color; 
  @include single-transition('all', $base-speed);
}
a:hover { 
  color: $link-hover-color;
}

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
  //color: $base-color;
}

h1, h2, h3, h4, h5, h6{
  @include belgrano;
  
  @include single-text-shadow( darken($base-bg, 30%), -1px, 1px, 0px );
}

a{
  text-decoration: none;
  //color: lighten( $font-color, 10% );
  
  &:hover{
    text-decoration: underline;
    @include single-transition('all', 0.2s);
  }
}

.wrap{
  display: block;
  width: $base-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  
  //background: rgba( 255,255,255, 0.1 );
}

#container {
	position: relative;
	z-index: 1;
}

#header {
  @include padding-leader;
  @include padding-trailer;

  & h1{
    //@include float-left;
  }

  & #logo{
    @include adjust-font-size-to( 28px );
  }
}

nav#access{
  @include margin-leader;
  @include margin-trailer(3);

  //border-bottom: 1px solid darken( $base-bg, 15% );
  //@include box-shadow( rgba(255, 255, 255, 0.0664062) 0px -1px 0px 0px inset );
  
  //background: rgba( 100, 255, 255, 0.1 );

  & .menu{
    //background: rgba( 255, 255, 255, 0.1 );
    @include inline-block-list;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;

    //@include float-right;
    
    & li{
      
      & a{
        display: block;
        @include padding-leader(0.5);
        @include padding-trailer(0.5);
        padding-left: 0.5em;
        padding-right: 0.5em;
        
        &:hover{
          text-decoration: none;
          background: rgba(255,255,255, 0.2);
          
        }
      }
    }
  }
}

#main {
  & article{
    //@include padding-leader;
    @include padding-trailer( 2.5 );
    @include padding-leader( 1.5 );
    
    & header{
      border-top: 1px solid darken( $base-bg, 15% );
      @include box-shadow( rgba(255, 255, 255, 0.0664062) 0px 1px 0px 0px inset );
      text-align: center;
      
      & h2{
        @include adjust-font-size-to( 40px );
        position: relative;
        top: -0.75em;
        background: $base-bg;
        display: inline;
        width: auto;
        padding-left: 1em;
        padding-right: 1em;
        
      }
    }
    
    & .content{
	    @include adjust-font-size-to( 16px );
	    @include padding-leader();
	    @include padding-trailer();
	    padding-left: 1em;
	    padding-right: 1em;
    
	    & #videoBlocks{
	      width: 42%;
	      @include float-right;
	    }

    }

	& p{
		display: block;
		@include padding-trailer(0.5);
	}

	& .left{
		@include float-left;
	}

	& .right{
		@include float-right;
	}

	&#map{
		& #gmapCont{
			//@include float-left;
			//width: 90%;
			height: 400px;
		}
	}
    
    &#who{
      text-align: center;
      
      & p{
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        
        &.top{
          @include adjust-font-size-to( 28px );
        }
      }
      
      & #resumeLink{
        display: block;
        width: 40%;
        @include margin-leader( 2 );
        margin-left: auto;
        margin-right: auto;
        @include margin-trailer( 2 );

        &:hover{
          text-decoration: none;
          & span{
          
            &.line2{
              color: darken( $link-hover-color, 25% );
              top: 0.5em;
            }
          }
        }
                
        & span{
          display: inline-block;
          cursor:pointer;
          cursor:hand;
          font-weight: 800;
          text-transform: uppercase;

          &.line1{
            @include adjust-font-size-to(44px);
            letter-spacing: 3px;
          }
          &.line2{
            background: url('../images/arrow.png') no-repeat;
            background-size: 100%;
            @include adjust-font-size-to( 22px );
            //font-weight: 700;
            letter-spacing: 1px;
            position: relative;
            top: 0.25em;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            @include padding-trailer(4);
            @include margin-leader(0.5);
            color: $base-bg;
            @include single-transition( 'all', 0.1s, 'ease-in-out' );
          }
        }
      }
    }
  }

}

.lte8 #main {
  & article{
    
    & header{
      
      & h2{
      }
    }
    
    & .content{
      
      & #videoBlocks{
      }
    }

	&#map{
		& #gmapCont{
		}
	}
    
    &#who{
      
      & p{
        
        &.top{
        }
      }
      
      & #resumeLink{

        &:hover{
          & span{
          
            &.line2{
            }
          }
        }
                
        & span{

          &.line1{
          }
          &.line2{
			background: none;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
			src='../images/arrow.png',
			sizingMethod='scale');

			-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
			src='../images/arrow.png',
			sizingMethod='scale')";
          }
        }
      }
    }
  }

}

#subwayTilesWrap{
	position: fixed;
	display: block;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,0.95);
	z-index: 2;
	overflow-y: scroll;
	display: none;
	
	& #closeSubwayTiles{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		@include padding-leader(0.25);
		@include padding-trailer(0.25);
		padding-left: 1em;
		padding-right: 1em;
		color: #font-color;
		background: $base-bg;
		//border-right: 1px solid $font-color;
		//border-bottom: 1px solid $font-color;
		@include opacity(0.8);
		@include adjust-font-size-to( 14px );
		cursor: pointer;
		cursor: hand;
		
		&:hover{
			@include opacity(1);
			
			& small{
				display: inline;
			}
		}
		
		& small{
			display: none;
			margin-left: 1em;
			//position: absolute;
			//right: -15em;
			//top: 0;
			//width: 14em;
			//color: $base-bg;
			//@include padding-leader(0.25);
		}
	}

	& #jsui{
		margin: 0;
		display: block;
		width: 16em;
		background-color:rgba(0,0,0,0.6);
		color: $font-color;
		position:fixed;
		right:0;
		top:0;
		z-index: 11;

		& header{
			display: block;
			
			& h4{
				@include adjust-font-size-to(24px);
				font-weight:bold;
				letter-spacing:-2px;
				@include single-text-shadow(none);
				margin-left: 1em;
				margin-right: 1em;
				@include margin-leader(0.5);
				@include margin-trailer(0.25);
				color: lighten( $font-color, 5% );
				border-bottom:3px solid;
				font-family: futura, helvetica, arial, sans-serif;
				cursor:pointer;
				cursor:hand;
				text-align:center;
				
				&:hover{
					color: darken( $font-color, 5% );
				}
				&:active{
					color: darken( $font-color, 10% );
				}
			}
		}
		
		& ul#posts{
			@include margin-leader(0.125);
			@include margin-trailer(0.25);
			display: block;
			margin-left: 1em;
			margin-right: 1em;
			
			& li{
				@include margin-leader(0.5);
				margin-left: 1em;
			
				& a{
					text-decoration: none;
				}
			}
		}
		
		& #menuToggle{
			display: block;
			@include margin-leader();
			@include margin-trailer(0.5);
			width: 20%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			@include adjust-font-size-to(10px);
			@include border-radius(2px);
			cursor: default;

			&:hover{
				background-color:rgba(255,255,255,0.2);	
			}
			&:active{
				background-color:rgba(255,255,255,0.1);	
			}
		}
	}

	
	& #subwayTiles{
		position: relative;
		z-index: 1;
	}
}

#loadSubwayTiles{}

#footer {}
